.ipynb_checkpoints/
**/__pycache__
anim._values.txt
2D_anim._values.txt
det._values.txt
det._values0.txt
det._values1.txt
det._values2.txt
det._values3.txt
det._values4.txt
source_values.txt
*.exe
*.gif
*.mp4
*.mp3